<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab">
        <activity
            android:name=".Part1Activity"
            android:exported="false"
            android:label="Part 1 Tasks"
            android:theme="@style/Theme.Lab" />
        <activity
            android:name=".TransitionMainActivity"
            android:exported="false"
            android:label="Transitions"
            android:theme="@style/Theme.Lab" />
        <activity
            android:name=".TransitionDetailActivity"
            android:exported="false"
            android:label="Transitions Detail"
            android:theme="@style/Theme.Lab" />
        <activity
            android:name=".Part2Activity"
            android:exported="false"
            android:label="Part 2 Tasks"
            android:theme="@style/Theme.Lab" />
        <activity
            android:name=".GpsActivity"
            android:exported="false"
            android:label="GPS Task"
            android:theme="@style/Theme.Lab" />
        <activity
            android:name=".SensorActivity"
            android:exported="false"
            android:label="Sensor Task"
            android:theme="@style/Theme.Lab" />
        <activity
            android:name=".CameraActivity"
            android:exported="true"
            android:label="Camera Task"
            android:theme="@style/Theme.Lab" />
        <activity
            android:name=".PokedexActivity"
            android:exported="false"
            android:label="Pokedex"
            android:theme="@style/Theme.Lab" />
        <activity
            android:name=".SharedPreferencesActivity"
            android:exported="false"
            android:label="@string/title_activity_shared_preferences"
            android:theme="@style/Theme.Lab" />
        <activity
            android:name=".architecture.CounterActivity"
            android:exported="false"
            android:label="MVI Counter"
            android:theme="@style/Theme.Lab" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.Lab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RPGcardActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Lab" />
        <activity
            android:name=".Part9Activity"
            android:exported="false"
            android:label="Part 9 (Collapsing)"
            android:theme="@style/Theme.Lab" />
        <activity
            android:name=".Part10Activity"
            android:exported="false"
            android:label="Part 10 (App Widget)"
            android:theme="@style/Theme.Lab" />
        <receiver android:name=".LabAppWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_lab_info" />
        </receiver>
        <activity
            android:name=".Part11Activity"
            android:exported="false"
            android:label="Mission 11: Skeleton Loading"
            android:theme="@style/Theme.Lab" />
        <activity
            android:name=".Part12Activity"
            android:exported="false"
            android:label="Mission 12: Dialog and Bottom Sheet"
            android:theme="@style/Theme.Lab" />
    </application>

</manifest>